#site-logo
  max-width: 100%
  width: 20rem
  height: auto

@media only screen and (min-width: 48rem)
  #site-logo
    width: 22rem
    height: auto

@media only screen and (min-width: 80rem)
  #site-logo
    width: 25rem
    height: auto

@media only screen and (min-width: 120rem)
  #site-logo
    width: 30rem
    height: auto