@media only screen and (max-width: 20rem)
  header
    padding: 0.5rem 1rem

@media only screen and (min-width: 20rem)
  header
    padding: 6rem 2rem 0 2rem

@media only screen and (min-width: 48rem)
  header
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 2rem 2rem 0 2rem
    align-items: center