@import "./src/styles/assets"

main#partner-with-us
  margin-bottom: 8rem

  h1
    margin-top: 4rem

section.partner-info
  p, ul#benefits
    margin-top: 2rem

section.partner-info.first-item
  margin-top: 0

a#contact-pr
  margin-top: 2rem
  width: 100%
  text-align: center

@media only screen and (max-width: 20rem)
  main#partner-with-us
    padding: 0 1rem

@media only screen and (min-width: 20rem)
  main#partner-with-us
    padding: 0 2rem

  section.partner-info
    border-bottom: 0.1rem solid white
    padding: 4rem 0

  section.partner-info.first-item
    padding-top: 0

  section#partnership-benefits
    border-bottom: none
    padding-bottom: 0

@media only screen and (min-width: 48rem)
  main#partner-with-us
    margin: 0 auto 8rem
    width: max-content